<%- include('../partials/header') %>

<h2>Welcome to the women's department</h2>

<table id="list">
    <thead>
      <tr>
        <th></th>
        <th>Title:</th>
      </tr>
    </thead>
    <tbody>
      <% items.forEach(function(i) { %>
        <tr>
          <td><img class="womensPictures" src="<%= i.imageOne %>"></td>
          <td><%= i.title %></td>
        </tr>
        <% }); %>
    </tbody>
</table>

<%- include('../partials/footer') %>