

<form id="add-item-form" method="POST"
    action="/">
    <label>Item name:</label>
    <textarea name="title"></textarea>
    <label>Item department:</label>
    <select name="department">
        <option value="Mens" selected>Mens</option>
        <option value="Womens">Womens</option>
    </select>
    <label>Rating:</label>
    <select name="size">
      <option value="XS">XS</option>
      <option value="S">S</option>
      <option value="M">M</option>
      <option value="L" selected>L</option>
      <option value="XL">XL</option>
    </select>
    <label>Price:</label>
    <textarea name="price"></textarea>
    <label>Stock:</label>
    <textarea name="stock"></textarea>
    <label>Color:</label>
    <select name="color">
      <option value="Black">Black</option>
      <option value="White">White</option>
      <option value="Blue">Blue</option>
      <option value="Green">Green</option>
      <option value="Yellow">Yellow</option>
      <option value="Purple">Purple</option>
      <option value="Red">Red</option>
      <option value="Pink">Pink</option>
      <option value="Gray">Gray</option>
    </select>
    <label>Secondary Color:</label>
    <select name="secondaryColor">
        <option value="" selected></option>
        <option value="Black">Black</option>
        <option value="White">White</option>
        <option value="Blue">Blue</option>
        <option value="Green">Green</option>
        <option value="Yellow">Yellow</option>
        <option value="Purple">Purple</option>
        <option value="Red">Red</option>
        <option value="Pink">Pink</option>
        <option value="Gray">Gray</option>
    </select>
    <label>Brand:</label>
    <textarea name="brand"></textarea>
    <label>Description:</label>
    <textarea name="description"></textarea>
    <label>Key Words:</label>
    <textarea name="keyWords"></textarea>
    <label>Image 1 URL:</label>
    <textarea name="imageOne"></textarea>
    <label>Image 2 URL:</label>
    <textarea name="imageTwo"></textarea>
    <label>Image 3 URL:</label>
    <textarea name="imageThree"></textarea>
    <input type="submit" value="Add Item">
  </form>


