<%- include('../partials/header') %>

<form action="/mens/<%= item.id %>?_method=PUT" method="POST">
    <input type="text" name="review" value="<%= item.review %>">
    <button type="submit">Save Review</button>
</form>





<%- include('../partials/footer') %>